body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  display: flex;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 20px 0;
  .logo {
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
    &-icon {
      width: 30%;
      .kotak {
        width: 30px;
        height: 30px;
        background-color: black;
      }
    }
    &-text {
      width: 70%;
    }
  }
  .main-menu {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    a {
      transition: all 0.5s;
      width: 100px;
      padding: 17.5px 10px;
      text-decoration: none;
      color: black;
      display: block;
      &:hover {
        background: black;
        color: white;
      }
    }
  }
  .user-menu {
    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    a {
      width: 100px;
      text-decoration: none;
      padding: 5px 10px;
      color: black;
      border: 2px solid black;
      border-radius: 5px;
      margin: 0 10px;
      &.signup {
        color: white;
        background: black;
        border-radius: 5px;
      }
    }
  }
}
// hero
.hero {
  max-width: 1200px;
  margin: auto;
  background: black;
  height: 600px;
  display: flex;
  justify-content: space-between;
  &-item {
    width: calc(95% / 4);
    opacity: 0.8;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    background: yellow;
    border: 1px solid black;
    h2 {
      font-size: 2vw;
    }
    &.bg1 {
      background: url(../images/1.jpg) no-repeat;
    }
    &.bg2 {
      background: url(../images/2.jpg) no-repeat;
    }
    &.bg3 {
      background: url(../images/3.jpg) no-repeat;
    }
    &.bg4 {
      background: url(../images/4.jpg) no-repeat;
    }
    &:hover {
      opacity: 1;
      color: rgb(49, 53, 116);
      cursor: pointer;
      h2 {
        display: inline;
        line-height: 40px;
        background: white;
      }
    }
  }
}
// Feature
.feature {
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-title {
    width: 40%;
    h2 {
      font-size: 5vh;
      span {
        background-color: black;
        color: yellow;
      }
    }
  }
  &-desc {
    width: 50%;
    p {
      line-height: 35px;
    }
  }
}
.feature-box {
  display: flex;
  flex-basis: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  justify-content: space-between;
  &-item {
    width: 23%;
    padding: 15px;
    transition: all 0.5s;
    text-align: center;
    img {
      width: 65px;
    }
    &.red:hover {
      background-color: rgb(255, 211, 211);
      transition: all 0.5s;
    }
    &.blue:hover {
      background-color: rgb(182, 183, 250);
      transition: all 0.5s;
    }
    &.green:hover {
      background-color: rgb(213, 255, 217);
      transition: all 0.5s;
    }
    &.yellow:hover {
      background-color: rgb(255, 251, 211);
      transition: all 0.5s;
    }
  }
}
// Portfolio
.portfolio {
  padding: 5% 0 0;
  &-box {
    display: flex;
    height: 500px;
    overflow: hidden;
    &-item {
      width: calc(100%/4);
      position: relative;
      .overlay {
        position: absolute;
        z-index: 5;
        background: rgba(0, 0, 0, 0.4);
        height: 100%;
        width: 100%;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          color: white;
          background: black;
          padding: 20px;
          text-decoration: none;
          border-radius: 5px;
        }
      }
      &:hover {
        .overlay {
          cursor: pointer;
          transition: all 0.5s;
          opacity: 1;
        }
      }
    }
  }
}
// Footer
.footer {
  background: black;
  color: white;
  padding: 5% 0;
  justify-content: space-between;
  &-box {
    display: flex;
    max-width: 1200px;
    margin: auto;
    &-item {
      width: 23%;
      a {
        color: yellow;
        text-decoration: none;
        img {
          width: 35px;
          padding: 3px;
        }
      }
      ul {
        margin-left: 5px;
        padding-left: 15px;
      }
    }
  }
}